// Variables
.countdown-shortcode-wrap {
    // Number style
    &.number {
        .countdown-content {
            .list-time {
                list-style: none;
                padding: 0;
                li {
                    position: relative;
                    display: inline-block;
                    height: 80px;  
                    width: 80px;
                    border-radius: 4px;
                    background-color: rgba($black, .4);
                    margin: 0 8px;
                    text-transform: uppercase;
                    @media screen and ( max-width:$screen-sm-max ) {
                        height: 70px;  
                        width: 70px;
                        margin: 0 5px;
                    }
                    p {
                        margin: 0;
                        color: $white;
                        text-transform: uppercase;
                        letter-spacing: .05em;
                        &.countdown-number {
                            padding-top: 12px;
                            line-height: 1;
                            color: $white;
                            font-size: 36px;
                            text-align: center;
                            position: relative;
                            @include box-sizing(content-box);
                            @media screen and ( max-width:$screen-md-max ) {
                                font-size: 28px;
                                padding-top: 15px;
                            }
                            @media screen and ( max-width:$screen-sm-max ) {
                                font-size: 20px;
                                padding-top: 15px;
                            }
                            @media screen and ( max-width:$screen-xs-max ) {
                                font-size: 16px;
                            }
                        }
                        &.countdown-text {
                            @media screen and ( max-width:$screen-sm-max ) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        // Align
        &.text-left {
            .countdown-content {
                .list-time {
                    li {
                        text-align: center;
                        &:first-child {
                            p {
                                &.countdown-number,
                                &.countdown-text {
                                    padding-left: 0;
                                }
                            }
                        }
                        p {
                            &.countdown-text {
                                padding: 0 30px;
                                @media screen and ( max-width:$screen-sm-max ) {
                                    padding: 0 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Pangja Style
    &.pangja {

    }

}