.footer-contact-shortcode-wrap {
    // Style 1
    &.style_1 {
        .footer-contact-content {
            .contact-information {
                list-style: none;
                list-style-type: none;
                padding: 5px 0 0;
                margin: 0;
                li {
                    padding: 10px 0;
                    color: $text_color_secondary;
                    span {
                        
                        &.contact-icon {
                            color: $primary_color;
                            font-size: 16px;
                            min-width: 25px;
                        }
                        &.contact-label {
                            color: $text_color_secondary;
                            font-weight: normal;
                            display: none;
                        }
                    }
                }
            }
        }
    }
    // Style 2
    &.style_2 {
        .footer-contact-content {
            .contact-information {
                list-style: none;
                list-style-type: none;
                padding: 5px 0 0;
                margin: 0;
                li {
                    padding: 10px 0;
                    color: $heading_color;
                    span {
                        &.contact-icon {
                            color: $primary_color;
                            font-size: 16px;
                            min-width: 25px;
                        }
                        &.contact-label {
                            color: $text_color_secondary;
                            font-weight: normal;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}