
.images-gallery-shortcode-wrap {
    // Slick style
    &.slick {
        .gallery-filters {
            ul {
                list-style: none;
                padding: 0;
                &.filter-left {
                    text-align: left;
                }
                &.filter-center {
                    text-align: center;
                }
                &.filter-right {
                    text-align: right;
                }
                li {
                    display: inline-block;
                    padding: 0 3px;
                    margin-bottom: 5px;
                    a {
                        background-color: $white;
                        color: #666;
                        display: inline-block;
                        font-weight: normal;
                        padding: 8px 25px;
                        @include rounded(5px);
                        @include transition(all .3s);
                        &:hover, &.active {
                            background-color: $primary_color;
                            color: $white;
                            @include transition(all .3s);
                        }
                    }
                }
            }
        }
        .images-groups {
            margin-top: 65px;
            margin-left: -15px;
            margin-right: -15px;
            .image-group {
                position: relative;
                .image-item {
                    margin: 0 15px;
                    &:focus {
                        outline: none;
                    }
                    .slide-item {
                        img {
                            width: 100%;
                        }
                    }
                }
                // Arrow
                .slick-arrow {
                    &.slick-prev, &.slick-next {
                        background: $white;
                        border: none;
                        color: transparent;
                        cursor: pointer;
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        outline: none;
                        padding: 8px;
                        position: absolute;
                        top: 50%;
                        z-index: 999;
                        @include rounded(3px);
                        &:before {
                            color: $text_color;
                            font-family: 'slick';
                            font-size: 18px;
                            line-height: 1;
                            opacity: 1;
                            @include transition(all .3s);
                        }
                        &:hover {
                            background: $primary_color;
                            @include transition(all .3s);
                            &:before {
                                color: $white;
                                @include transition(all .3s);
                            }
                        }
                    }
                    &.slick-prev {
                        left: 15px;
                        @include transform(translate(-50%, -50%));
                        &:before {
                            content: "\eb26";
                            font-family: IcoFont;
                        }
                    }
                    &.slick-next {
                        right: 15px;
                        @include transform(translate(50%, -50%));
                        &:before {
                            content: "\eb27";
                            font-family: IcoFont;
                        }
                    }
                }
            }
            .gallery-viewmore {
                margin-top: 60px;
                text-align: center;
                @media screen and (max-width: $screen-xs-max) {
                    margin-top: 30px;
                }
                a {
                    display: inline-block;
                    padding: 8px 30px;
                    background-color: $primary_color;
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                    @include rounded(5px);
                    @include transition(all .3s);
                    &:hover {
                        background-color: $secondary_color;
                        @include transition(all .3s);
                    }
                }
            }
        }
    }
    // Grid
    &.grid {
        .images-list {
            .image-item {
                float: left;
                &:hover {
                    .slide-item {
                        &:before {
                            opacity: 1;
                            @include transition(all .3s);
                        }
                        .image-meta {
                            opacity: 1;
                            @include transition(all .3s);
                        }
                    }
                }
                .slide-item {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        background-color: rgba(#333333, .9);
                        @include transition(all .3s);
                    }
                    .image-meta {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        text-align: center;
                        color: $white;
                        opacity: 0;
                        @include transform(translateY(-50%));
                        @include transition(all .3s);
                        i {
                            font-size: 40px;
                            @include transition(all .3s);
                            @media screen and (max-width: $screen-sm-max) {
                                font-size: 30px;
                            }
                            &:hover {
                                color: $primary_color;
                                @include transition(all .3s);
                            }
                        }
                        .image-title {
                            color: $white;
                            font-size: 18px;
                            font-family: $body_font;
                            text-transform: uppercase;
                            @include transition(all .3s);
                            @media screen and (max-width: $screen-sm-max) {
                                font-size: 16px;
                            }
                            &:hover {
                                color: $primary_color;
                                @include transition(all .3s);
                            }
                        }
                    }
                }
                // Padding
                &.padding-5 {
                    padding: 5px;
                }
                // Columns
                &.image-col-2 {
                    width: 50%;
                }
                &.image-col-3 {
                    width: 33.333333%;
                    @media screen and (max-width: $screen-xs-max) {
                        width: 50%;
                    }
                }
                &.image-col-4 {
                    width: 25%;
                    @media screen and (max-width: $screen-xs-max) {
                        width: 50%;
                    }
                }
                &.image-col-5 {
                    width: 20%;
                    @media screen and (max-width: $screen-sm-max) {
                        width: 25%;
                    }
                    @media screen and (max-width: $screen-xs-max) {
                        width: 50%;
                    }
                }
            }
        }
    }
}