.process-step {
	&.style_1 {
		text-align: center;
	}

	&__top {
		position: relative;
	}

	&__number {
		background-color: $secondary_color;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
        width: 110px;
        height: 96px;
        display: block;
        -webkit-mask-image: url('../pangja/assets/images/bg-icon-box.svg');
        mask-image: url('../pangja/assets/images/bg-icon-box.svg');
        margin: 0 auto;
        font-size: 36px;
        font-weight: $fw-semi-bold;
        line-height: 96px;
        position: relative;
        @media screen and(max-width: $screen-md-max) {
        	font-size: 28px;
        }
	}

	&__title {
		font-size: 16px;
		text-transform: uppercase;
		padding: 20px 0 10px;
	}

	&__image {
		position: absolute;
		width: auto;
		position: absolute;
		left: calc(100% - 55px);
		@media screen and(max-width: $screen-sm-max) {
			max-width: 130px;
		}
		@media screen and(max-width: $screen-xs-max) {
			display: none;
		}

		&-odd {
			top: 10px;
		}

		&-even {
			bottom: 10px;
		}
	}
}