
// Custom Heading
.vc_custom_heading {
    &.heading_style_1 {
        font-size: 50px;
        font-weight: $font-weight-bold;
        @media screen and(max-width: $screen-md-max) {
            font-size: 36px!important;
        }
        @media screen and(max-width: $screen-sm-max) {
            font-size: 24px!important;
        }
        .sub-heading {
            display: block;
            font-size: 20px;
            font-weight: $font-weight-bold;
            color: $primary_color;
            text-transform: uppercase;
            padding-bottom: 10px;
            @media screen and(max-width: $screen-md-max) {
                font-size: 16px;
            }
        }
    }
    &.heading_style_2 {
        font-size: 20px;
        font-weight: $font-weight-bold;
        color: $heading_color;
        margin-top: 10px;
        @media screen and(max-width: $screen-sm-max) {
            font-size: 16px!important;
        }
        &.subscribe-heading {
            @media screen and(max-width: $screen-sm-max) {
                margin-bottom: 20px;
            }
            &:before {
                content: "\f003";
                font-family: 'FontAwesome';
                font-weight: $font-weight-normal;
                color: $primary_color;
                margin-right: 8px;
                font-size: 18px;
                position: relative;
                top: -1px;
                @media screen and(max-width: $screen-sm-max) {
                    font-size: 16px;
                    top: 0;
                }
            }
        }
    }
    &.heading_style_3 {
        font-size: 30px;
        font-weight: $font-weight-bold;
        color: $heading_color;
        @media screen and(max-width: $screen-md-max) {
            font-size: 20px!important;
        }
        @media screen and(max-width: $screen-xs-max) {
            font-size: 16px!important;
        }
    }
    &.heading_style_4 {
        font-size: 40px;
        font-weight: $font-weight-bold;
        color: $heading_color;
        @media screen and(max-width: $screen-md-max) {
            font-size: 36px!important;
        }
        @media screen and(max-width: $screen-sm-max) {
            font-size: 24px!important;
        }
        @media screen and(max-width: $screen-xs-max) {
            font-size: 20px!important;
        }
        &.services-heading-4 {
            max-width: 50%;
            @media screen and(max-width: $screen-sm-max) {
                max-width: 100%;
            }
        }
    }
    &.heading_style_5 {
        font-size: 40px;
        letter-spacing: .01em;
        @media screen and(max-width: $screen-md-max) {
            font-size: 36px;
        }
        @media screen and(max-width: $screen-sm-max) {
            font-size: 24px;
        }
        @media screen and(max-width: $screen-xs-max) {
            font-size: 20px;
        }
        .sub-heading {
            font-size: 140px;
            line-height: 140px;
            color: rgba($heading_color, .1);
            display: block;
            margin-bottom: -58px;
            @media screen and(max-width: $screen-md-max) {
                font-size: 100px;
                line-height: 100px;
                margin-bottom: -48px;
            }
            @media screen and(max-width: $screen-sm-max) {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: -30px;
            }
            @media screen and(max-width: $screen-xs-max) {
                font-size: 50px;
                line-height: 50px;
                margin-bottom: -25px;
            }
        }
        .hightlight-heading {
            color: $primary_color;
            padding-left: .2em;
        }
    }
    &.heading_style_6 {
        font-size: 14px;
        padding: 30px 0 30px 0;
        position: relative;
        text-transform: uppercase;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            border-top-color: $border_color;
            border-top-style: double;
        }
    }
    &.heading_style_7 {
        font-size: 50px;
        font-weight: $font-weight-bold;
        color: $heading_color;
        @media screen and(max-width: $screen-md-max) {
            font-size: 36px;
        }
        @media screen and(max-width: $screen-sm-max) {
            font-size: 24px!important;
        }
        @media screen and(max-width: $screen-xs-max) {
            font-size: 20px!important;
        }
    }
    &.heading_style_8 {
        font-size: 80px;
        font-weight: $font-weight-bold;
        color: $primary_color;
        @media screen and(max-width: $screen-md-max) {
            font-size: 50px;
        }
        @media screen and(max-width: $screen-sm-max) {
            font-size: 36px;
        }
        @media screen and(max-width: $screen-xs-max) {
            font-size: 28px;
        }
    }
    &.sub_heading_style_1 {
        color: $text_color;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 1px;
        @media screen and (max-width: $screen-xs-max) {
            font-size: 14px;
        }
    }
    &.sub_heading_style_2 {
        color: $text_color_secondary;
        font-style: italic;
    }
    &.sub_heading_style_3 {
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &.footer_style_1 {
        color: $white;
        font-size: 18px;
        margin: 20px 0;
    }
    &.footer_style_2 {
        color: $heading_color;
        font-size: 18px;
        margin: 20px 0;
        @media screen and (max-width: $screen-md-max) {
            font-size: 16px;
        }
    }
}
// Button style
.button_style_1 {
    button, a {
        background-color: $primary_color!important;
        background-image: none!important;
        border: 2px solid $primary_color!important;
        color: $white!important;
        font-weight: $font-weight-bold!important;
        padding: 10px 30px!important;
        min-width: 150px;
        letter-spacing: .05em;
        border-radius: 6px;
        &:hover {
            background-color: $secondary_color!important;
            border: 2px solid $secondary_color!important;
        }
    }
}
.button_style_2 {
    @media screen and (max-width: $screen-xs-max) {
        text-align: center!important;
    }
    button, a {
        background-color: $white!important;
        background-image: none!important;
        border: 2px solid $white!important;
        color: $heading_color!important;
        font-weight: $font-weight-bold!important;
        padding: 10px 30px!important;
        min-width: 150px;
        letter-spacing: .05em;
        border-radius: 6px;
        &:hover {
            background-color: $primary_color!important;
            border: 2px solid $primary_color!important;
            color: $white!important;
        }
    }
}
.button_style_3 {
    @media screen and (max-width: $screen-xs-max) {
        text-align: center!important;
    }
    button, a {
        background-color: $primary_color!important;
        background-image: none!important;
        border: 2px solid $primary_color!important;
        color: $white!important;
        font-weight: $font-weight-bold!important;
        padding: 10px 30px!important;
        min-width: 150px;
        letter-spacing: .05em;
        border-radius: 6px;
        &:hover {
            background-color: $secondary_color!important;
            border: 2px solid $secondary_color!important;
        }
        &:after {
            content: "\f054";
            font-family: FontAwesome;
            padding-left: 6px;

        }
    }
}
.button_style_4 {
    @media screen and (max-width: $screen-xs-max) {
        text-align: center!important;
    }
    button, a {
        background-color: $primary_color!important;
        background-image: none!important;
        border: 2px solid $primary_color!important;
        color: $white!important;
        font-weight: $font-weight-bold!important;
        padding: 10px 30px!important;
        min-width: 150px;
        letter-spacing: .05em;
        border-radius: 6px;
        &:hover {
            background-color: $secondary_color!important;
            border: 2px solid $secondary_color!important;
        }
    }
}
.button_style_5 {
    @media screen and (max-width: $screen-xs-max) {
        text-align: center!important;
    }
    button, a {
        border: solid 2px transparent!important;
        background-image: linear-gradient(transparent, transparent), linear-gradient(101deg, lighten($primary_color, 25), $primary_color)!important;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #fff inset!important;
        color: $primary_color!important;
        font-weight: $font-weight-bold!important;
        padding: 9px 30px!important;
        min-width: 150px;
        letter-spacing: .05em;
        border-radius: 6px;
        &:hover {
            box-shadow: none!important;
            color: $white!important;
        }
        &:after {
            content: "\f054";
            font-family: FontAwesome;
            padding-left: 6px;
            font-size: 12px;
        }
    }
}
