// Process Sidebar
.has-left-sidebar {
    float: right!important;
    padding-left: 25px;

    @media screen and (max-width: $screen-sm-max) {
        padding-left: 15px;
    }
}
.has-right-sidebar {
    padding-right: 25px;

    @media screen and (max-width: $screen-sm-max) {
        padding-right: 15px;
    }
}
.left-sidebar {
    float: left!important;
}
// Sidebar Blog
.archive-sidebar, 
.single-sidebar {
    aside {
        margin-bottom: 40px;
    }
    // Title
    .widget-title {
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0px;
        margin-bottom: 30px;
        text-transform: uppercase;
        @media screen and ( max-width:$screen-md-max ) {
            font-size: 18px;
        }
        @media screen and ( max-width:$screen-sm-max ) {
            font-size: 16px;
        }
    }
    // Responsive
    @media screen and ( max-width:$screen-sm-max ) {
        margin-top: 30px;
    }
    @media screen and ( max-width:$screen-xs-max ) {
        margin-top: 20px;
    }
}
// Fix monster widget
select {
    max-width: 100%;
    &:focus {
        outline: none;
    }
}

// Category
.widget_categories, 
.widget_archive {
    > ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {
            padding: 10px 0;
            position: relative;
            &:first-child {
                padding-top: 0;
            }
            a {
                position: relative;
                left: 0;
                @include transition(all .3s);
                &:hover {
                    color: $primary_color;
                    left: 15px;
                    @include transition(all .3s);
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                }
                &:before {
                    background-color: $primary_color;
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    opacity: 0;
                    top: 50%;
                    left: -15px;
                    border-radius: 50%;
                    @include transition(all .3s);
                    @include transform(translateY(-50%));
                }
            }
            .list-count, 
            .archive-count {
                float: right;
            }
            .children {
                padding-left: 15px;
                list-style: none;
                list-style-type: none;
                li {
                    padding-top: 15px;
                }
            }
            span {
                font-size: 14px;
            }
        }
    }
    select {
        margin-top: 15px;
        &:focus {
            outline: none;
        }
    }
}
// Archive
.widget_archive {

}
// Calendar
.widget_calendar {
    .calendar_wrap {
        table {
            width: 100%;
            border: 1px solid $border_color;
            text-align: center; 
            th {
                border-bottom: 1px solid $border_color;
                text-align: center;
                padding: 5px 0;
                background: $primary_color;
                color: $white;
            }
            td {
                border-left: 1px solid $border_color;
                border-bottom: 1px solid $border_color;
                padding: 5px 0;
            }
        }
    }
}
// Pages
.widget_pages {
    ul {
        padding: 0;
        margin: 0 0 1.75em 0;
        list-style: none;
        li {
            padding: 6px 0;
            a {
                // font-weight: 700;
            }
            > ul {
                margin-bottom: 0;
                counter-reset: children;

                >li {
                    &:first-child {
                        padding-top: 10px;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                    > a {
                        // font-weight: 700;
                        &:before {
                            // font-weight: normal;
                            // content: "– " counters(children, "– ", none);
                            // counter-increment: children;
                        }
                    }
                }
            }
        }
    }
    .children {
        margin-left: 20px;
        @media screen and (max-width: $screen-md-max) {
            margin-left: 15px;
        }
    }
}
// Meta
.widget_meta {
    ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 8px 0;
            &:last-child {
                padding-bottom: 0;
            }
            a {
                @include transition(all .35s ease);
                &:hover {
                    margin-left: 10px;
                    color: $link_color_hover;
                    @include transition(all .35s ease);
                }
            }
        }
    }
}
// Recent comment
.widget_recent_comments {
    ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 8px 0;
            &:last-child {
                padding-bottom: 0;
            }
            span {
                // color: $text_color_secondary;
            }
            a {
                font-weight: $fw-semi-bold;
                @include transition(all .35s ease);
                &:hover {
                    margin-left: 10px;
                    color: $link_color_hover;
                    @include transition(all .35s ease);
                }
                &.url {
                    font-weight: 400;
                    // color: $text_color_secondary;
                    &:hover {
                        color: $link_color_hover;
                    }
                }
            }
        }
    }
}
// Recent Posts
.widget_recent_entries {
    ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 8px 0;
            &:last-child {
                padding-bottom: 0;
            }
            a {
                @include transition(all .35s ease);
                &:hover {
                    margin-left: 10px;
                    color: $link_color_hover;
                    @include transition(all .35s ease);
                }
            }
        }
    }
}
// RSS
.widget_rss {
    > ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 8px 0;
            &:last-child {
                padding-bottom: 0;
            }
            a {
                color: $text_color;
                @include transition(all .3s);
                &:hover {
                    margin-left: 10px;
                    color: $link_color_hover;
                    @include transition(all .3s);
                }
            }
            .rssSummary {
                font-weight: $fw-semi-bold;
            }
        }
    }
}
// Nav Menu
.widget_nav_menu {
    ul {
        padding: 0;
        margin: 0 0 1.75em 0;
        list-style: none;
        li {
            padding: 6px 0;
            > a {
                // font-weight: 700;
            }
            > ul {
                margin-bottom: 0;
                // counter-reset: submenu;

                >li {
                    &:first-child {
                        padding-top: 10px;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                    > a {
                        // font-weight: 700;
                        // &:before {
                        //     font-weight: normal;
                        //     content: "– " counters(submenu, "– ", none);
                        //     counter-increment: submenu;
                        // }
                    }
                }
            }
        }
    }
    .sub-menu {
        margin-left: 20px;
        @media screen and (max-width: $screen-md-max) {
            margin-left: 15px;
        }
    }
}
// Search
.widget_search {
    .search-form {
        position: relative;
        background-color: transparent;
        border: 1px solid $border_color;
        border-radius: 6px;
        label {
            display: block;
            margin-bottom: 0;
            input[type="search"] {
                width: calc(100% - 60px);
                height: 40px;
                background-color: transparent;
                border: none;
                outline: none;
                padding-left: 20px;
                padding-right: 5px;
                font-weight: 400;
                @include border-radius(30px, 0, 0, 30px);
                @include placeholder($text_color_secondary);
            }
        }
        
        .search-submit {
            color: $text_color_secondary;
            width: 60px;
            padding: 0;
            position: absolute;
            font-size: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            border: none;
            background: none;
            outline: none;
            &:hover {
                color: $primary_color;
            }
            &:before {
                content: "\e090";
                font-family: 'Simple-Line-Icons';
                position: absolute;
                font-size: 18px;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }
}
// Tag
.widget_tag_cloud {
    .tagcloud {
        a {
            border: 1px solid $border_color;
            border-radius: 6px;
            color: $heading_color;
            display: inline-block;
            margin: 6px 5px 0 0;
            padding: 5px 15px;
            font-size: 14px!important;
            text-transform: capitalize;
            @include transition(all .3s);
            &:hover {
                background-color: $primary_color;
                border: 1px solid $primary_color;
                color: $white;
                @include transition(all .3s);
            }
        }
    }
}
// Post thumbnail
.widget-post-thumbnail {
    ul {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-top: 10px;
        // Thumbnail left
        &.thumb_left {
            li {
                border-bottom: 1px solid $border_color;
                padding-bottom: 20px;
                margin-bottom: 20px;
                &:last-child {
                    border: none;
                }
                .posts-thumbnail-image {
                    width: 28%;
                    float: left;
                }
                .posts-thumbnail-content {
                    width: 65%;
                    float: right;
                    h4 {
                        margin-bottom: 3px;
                        margin-top: -5px;
                        font-size: 15px;
                        line-height: 1.6;
                        font-weight: 600;
                        a {
                            color: $heading_color;
                            &:hover {
                                color: $link_color_hover;
                            }
                        }
                    }
                    
                    .posts-thumbnail-meta {
                        font-style: italic;
                        span {
                            margin-right: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        .datetime {
                            color: $text_color_secondary;
                            font-size: 12px;
                        }
                        .comment-count {
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

