// Archive products
.haru-archive-product {
    // Toggle layout button
    .gridlist-toggle {
        float: left;
        margin-right: 60px;
        border-radius: 20px;
        position: relative;
        @media screen and (max-width: $screen-xs-max) {
           
        }
        span {
            color: $heading_color;
            height: 42px;
            width: 42px;
            text-align: center;
            display: inline-block;
            border: 1px solid $border_color;
            @include rounded(4px);
            &.active {
                color: $white;
                background-color: $primary_color;
                border-color: $primary_color;
            }
            &:hover {
                cursor: pointer;
            }
            i {
                font-size: 16px;
                line-height: 40px;
            }
            &:last-child {
                margin-left: 6px;
            }
        }
    }
    // catalog filter
    .catalog-filter {
        .woocommerce-result-count {
            margin: 0;
            line-height: 40px;
        }
        .woocommerce-ordering {
            margin-bottom: 30px;
            @media screen and (max-width: $screen-xs-max) {
                width: 100%;
                margin: 15px 0;
            }
            select {
                background-color: $white;
                height: 42px;
                border: 1px solid $border_color;
                color: $text_color;
                padding: 0 10px;
                @include rounded(4px);
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .term-description {
        padding-bottom: 10px;
        display: none;
    }
    // Products list
    .archive-product-wrapper {
        overflow: hidden;
        position: relative;
        ul.products {
            margin-left: -15px;
            margin-right: -15px;
            // Archive grid style
            &.grid {
                // Process product style
                li.product {
                    padding: 0 15px;
                    margin: 0 0 30px 0;
                    .product-short-description {
                        display: none;
                    }
                }
            }
            // Archive list style
            &.list {
                margin-left: 0px;
                margin-right: 0px;
                li.product {
                    width: 100%!important;
                    padding: 15px 0!important;
                    //border: 1px solid $border_color;
                    margin-bottom: 30px;
                    // @include transition(all .3s);
                    &:hover {
                        //border: 1px solid rgba($primary_color, .6);
                        //@include box-shadow(0 0 2px 1px rgba($primary_color, .1));
                        @include transition(all .3s);
                        .product-inner {
                            border: none;
                            @include box-shadow(none);
                        }
                    }
                    .product-inner {
                        text-align: left;
                        border: none;
                        margin: 0;
                        .product-thumbnail {
                            width: 35%;
                            float: left;
                            overflow: visible;
                            .product-varations {
                                bottom: 20px;
                            }
                            .product-actions {
                                background-color: transparent;
                                left: calc(100% + 0px);
                                opacity: 1;
                                width: 100%;
                                bottom: 0px;
                                text-align: left;
                                margin-left: 30px;
                                @include transform(translateY(0));
                                @media screen and (max-width: $screen-xs-max) {
                                    background-color: $white;
                                    bottom: 10px;
                                    padding: 5px 0;
                                    margin: 0 10px;
                                    left: 10px!important;
                                    width: calc(100% - 20px);
                                }
                                > div {
                                    margin-right: 5px;
                                    &::before {
                                        display: none;
                                    }
                                    a {
                                        height: 42px;
                                        width: 42px;
                                        border-radius: 4px;
                                        border: 1px solid $border_color;
                                        i {
                                            line-height: 40px;
                                        }
                                        &:hover {
                                            background-color: $primary_color !important;
                                            border-color: $primary_color;
                                            i {
                                                color: $white !important;
                                            }
                                        }
                                    }
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    left: 0;
                                    margin-left: 0;
                                    text-align: center;
                                }
                            }
                            @media screen and (max-width: $screen-xs-max) {
                                width: 100%;
                                float: none;
                            }
                        }
                        .product-info {
                            width: 65%;
                            float: left;
                            padding-right: 0px;
                            padding-left: 30px;
                            text-align: left;
                            padding-top: 0;
                            @media screen and (max-width: $screen-xs-max) {
                                width: 100%;
                                margin-top: 15px;
                                padding: 0!important;
                            }
                            .woocommerce-loop-product__link {
                                display: block;
                                float: none;
                                width: 100%;
                                padding-bottom: 5px;
                                .woocommerce-loop-product__title {
                                    font-size: 20px;
                                    @media screen and (max-width: $screen-sm-max) {
                                        font-size: 18px;
                                    }
                                    @media screen and (max-width: $screen-xs-max) {
                                        font-size: 16px;
                                    }
                                }
                                @media screen and (max-width: $screen-xs-max) {
                                    padding-bottom: 0;
                                }
                            }
                            .price {
                                display: block!important;
                                width: 100%;
                                font-size: 14px!important;
                                text-align: left;
                                padding-bottom: 10px;
                                padding-top: 5px;
                                // Normal product
                                .woocommerce-Price-amount {
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: $heading_color;
                                    @media screen and (max-width: $screen-sm-max) {
                                        font-size: 16px;
                                    }
                                }
                            }
                            .star-rating {
                                float: left;
                                margin-top: 8px;
                            }
                            .product-short-description {
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                max-height: 120px;
                                @media screen and (max-width: $screen-md-max) {
                                    max-height: 80px;
                                }
                            }
                            @media screen and (max-width: $screen-xs-max) {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Columns
// Process columns
.archive-product-columns-2 {
    li.product {
        width: 50%!important;
        float: left;
    }
    // Responsive
    @media screen and ( max-width:$screen-sm-max ) {
        li.product {
            width: 50%!important;
        }
    }
    @media screen and ( max-width:$screen-xs-max ) {
        li.product {
            width: 50%!important;
        }
    }
}
.archive-product-columns-3 {
    li.product {
        width: 33.333333%!important;
        float: left;
    }
    // Responsive
    @media screen and ( max-width:$screen-sm-max ) {
        li.product {
            width: 33.333333%!important;
        }
    }
    @media screen and ( max-width:$screen-xs-max ) {
        li.product {
            width: 50%!important;
        }
    }
}
.archive-product-columns-4 {
    li.product {
        width: 25%!important;
        float: left;
    }
    // Responsive
    @media screen and ( max-width:$screen-sm-max ) {
        li.product {
            width: 33.333333%!important;
        }
    }
    @media screen and ( max-width:$screen-xs-max ) {
        li.product {
            width: 50%!important;
        }
    }
}
.archive-product-columns-5 {
    li.product {
        width: 20%!important;
        float: left;
    }
    // Responsive
    @media screen and ( max-width:$screen-sm-max ) {
        li.product {
            width: 33.333333%;
        }
    }
    @media screen and ( max-width:$screen-xs-max ) {
        li.product {
            width: 50%;
        }
    }
}
// Archive pagination
.haru-archive-product {
    .woocommerce-pagination {
        padding-bottom: 80px;
        padding-top: 20px;
        text-align: center;
        .page-numbers {
            border: none;
            text-align: center;
            li {
                border: none;
                margin: 0 5px;
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
                span,
                a {
                    color: $text_color;
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0;
                    border: 1px solid $border_color;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: $fw-semi-bold;
                    @include transition(all .3s);
                }
                i { 
                    font-size: 18px;
                    font-weight: $fw-semi-bold;
                    line-height: 36px;
                }
                span.current {
                    border-color: $primary_color;
                    background-color: $primary_color;
                    color: $white;
                }
                a {
                    &:hover, &:focus {
                        border-color: $primary_color;
                        background-color: $primary_color;
                        color: $white;
                        @include transition(all .3s);
                    }
                }

            }
        }
        @media screen and (max-width: $screen-sm-max) {
            padding-bottom: 60px;
        }
        @media screen and (max-width: $screen-xs-max) {
            padding-bottom: 50px;
        }
    }
}