/*-----------------------------------
 * WOOCOMMERCE MY ACCOUNT
 *-----------------------------------*/
 .woocommerce form {
    .form-row {
        margin: 0 0 10px;
    }
 }
.woocommerce-account {
    .woocommerce {
        margin-bottom: 60px;
        margin-top: 30px;
        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 20px;
        }
        form .form-row label {
            font-weight: 700;
        }
        .woocommerce-MyAccount-navigation {
            ul {
                list-style: none;
                list-style-type: none;
                padding: 0;
                li {
                    margin: 15px 0;
                    &.is-active {
                        a {
                            color: $link_color_active;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                    a {
                        font-weight: 700;
                    }
                }
            }
        }
        .woocommerce-MyAccount-content {
            // Table css
            table {
                @include rounded(0);
                font-size: 100%;
                thead {
                    text-transform: uppercase;
                }
            }
            // Base form css
            p {
                input {
                    border: 1px solid $border_color;
                    padding: 8px 15px;
                    @include rounded(0);
                    &:focus {
                        border: 1px solid $primary_color;
                    }
                    &[type=submit] {
                        background: $primary_color;
                        border: none;
                        color: $white;
                        font-weight: 700;
                        margin-top: 20px;
                        padding: 10px 15px;
                        text-transform: uppercase;
                        @include transition(all .3s);
                        &:hover {
                            background: $secondary_color;
                            @include transition(all .3s);
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            // Account details
            fieldset {
                margin-top: 20px;
                legend {
                    position: relative;
                    border: none;
                    font-weight: 700;
                    padding-left: 3px;
                    margin-bottom: 10px;
                    font-size: 20px;
                }
            }
            // Addresses
            .woocommerce-Address-title {
                margin-top: 20px;
                h3 {
                    position: relative;
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-size: 20px;
                }
            }
            // Button style
            .button {
                background: $primary_color;
                color: $white;
                font-weight: 700;
                padding: 10px 20px;
                margin-left: 3px;
                text-transform: uppercase;
                @include rounded(20px);
                &:hover {
                    background: $secondary_color;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        // Login
        .customer_login_form_wrap {
            h2 {
                text-transform: uppercase;
            }
            form {
                @include rounded(0);
                input {
                    border: 1px solid $border_color;
                    padding: 8px 15px;
                    @include rounded(0);
                }
                .button {
                    background: $primary_color;
                    border: none;
                    color: $white;
                    font-weight: 700;
                    padding: 8px 15px;
                    text-transform: uppercase;
                    @include rounded(0);
                    &:hover {
                        background: $secondary_color;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}