// Fix sidebar page
.page-sidebar {
    margin-top: 60px;
}

// Theme Unit Test
// Table
table {
    border-collapse: collapse;
    thead {
        background: rgba($primary_color, .3);
    }
}
table, th, td {
    border: 1px solid $border_color;
}
th, td {
    padding: 5px;
}
// Password protected
.post-password-form {
    input[type="password"] {
        background: none;
        border: 1px solid $border_color;
        @include rounded(2px);
        &:focus {
            border: 1px solid $primary_color;
            outline: none;
        }
    }
    input[type=submit] {
        background: $secondary_color;
        border: none;
        color: $white;
        padding: 2px 10px;
        @include rounded(2px);
        &:hover {
            background: $primary_color;
        }
    }
}

.haru-page-links {
    clear: both;
    padding-top: 15px;
    .haru-page-links-title {
        padding-right: 6px;
    }
    > span.haru-page-link {
        background-color: $primary_color;
        color: $white;
        display: inline-block;
        padding: 0 5px;
        margin: 0 8px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-family: $secondary_font;
        border-radius: 50%;
        font-size: 15px;
        text-align: center;
        @include transition(all .3s);
    }
    > a {
        > span {
            padding: 0 4px 2px 4px;
            margin: 0 5px;
            color: $text_color;
            font-family: $secondary_font;
            font-size: 15px;
            &:hover, 
            &:focus {
                color: $primary_color;
            }
        }
    }
}
// Comment enable in Setting/Discussion
.comment-navigation {
    padding-bottom: 10px;
    span, 
    a {
        color: $text_color;
        display: inline-block;
        padding: 0 5px;
        margin: 0 5px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-family: $secondary_font;
        border-bottom: 1px solid $white;
        border-radius: 50%;
        font-size: 15px;
        text-align: center;
        @include transition(all .3s);
        &:last-child {
            margin-right: 0;
        }
    }
    span.current {
        background-color: $primary_color;
        color: $white;
    }
    a {
        &:hover, 
        &:focus {
            color: $primary_color;
        }
        &.prev, &.next {
            text-transform: capitalize;
        }
    }
}