/*-----------------------------------
 * FOOTER
 *-----------------------------------*/
// Footer for theme unit test
.original-footer {
    text-align: center;
    padding: 30px 0;
}

// Main footer
#haru-footer-main {
    // Footer Default
    &.footer-default {
        
    }
    &.footer-2 {
        .subscribe-default .subscribe-email input[type="email"] {
            border: 1px solid $border_color;
            border-right: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            &:focus {
                border-color: $primary_color;
            }
        }
    }
    &.footer-3 {
        .subscribe-default .subscribe-email input[type="email"] {
            border: 1px solid $border_color;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }
    &.footer-background-primary,
    &.footer-4 {
        .subscribe-default {
            margin-top: 40px;
        }
    }
    &.footer-background-primary,
    &.footer-4,
    &.footer-5 {
        .subscribe-default {
            position: relative;
            .subscribe-email {
                width: 100%;
                border-radius: 4px;
                input[type="email"] {
                    height: 40px;
                    line-height: 40px;
                    padding-right: 50px;
                }
            }
            .subscribe-submit {
                width: 40px;
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                line-height: 40px;
                &::before {
                    position: absolute;
                    content: "\e094";
                    display: block;
                    font-family: 'Simple-Line-Icons';
                    right: 15px;
                    color: $primary_color;
                    font-size: 20px;
                }
                input[type="submit"] {
                    background-color: transparent;
                    color: transparent;
                    z-index: 2;
                    height: 40px;
                    position: relative;
                }
            }
        }
    }
    &.footer-4 {
        .subscribe-default {
            .subscribe-email {
                border: 1px solid $border_color;
            }
        }
    }
    // Footer 3
    // &.footer-3 {
    //     .subscribe-default {
    //         border: 1px solid $border_color;
    //         position: relative;
    //         .subscribe-email {
    //             border: none;
    //             display: inline-block;
    //             margin: 0;
    //             width: calc(100% - 65px);
    //             input[type="email"] {
    //                 font-size: 14px;
    //                 width: 100%;
    //                 padding: 10px 0 10px 15px;
    //                 background: none;
    //                 text-align: left;
    //                 @include placeholder($color: $text_color);
    //                 @include rounded(5px);
    //                 &:focus {
    //                     outline: none;
    //                 }
    //             }
    //         }
    //         .subscribe-submit {
    //             margin: 0;
    //             width: 60px;
    //             display: inline-block;
    //             position: relative;
    //             &:after {
    //                 color: $primary_color;
    //                 content: "\f474";
    //                 font-family: Ionicons;
    //                 font-size: 34px;
    //                 line-height: 1;
    //                 position: absolute;
    //                 left: 50%;
    //                 top: -5px;
    //                 z-index: 0;
    //                 @include translateX(-50%);
    //             }    
    //             input[type="submit"] {
    //                 border: none;
    //                 background: none;
    //                 color: $white;
    //                 opacity: 0;
    //                 padding: 0;
    //                 position: relative;
    //                 z-index: 1;
    //                 @include rounded(0);
    //                 &:focus {
    //                     outline: none;
    //                 }
    //             }
    //         }
    //     }
    // }
    // footer 5
    &.footer-3{
        .footer-social-shortcode-wrap.style_1 .footer-social-content .social-list li a {
            color: $heading_color;
            &:hover {
                color: $primary_color;
            }
        }
    }
    // Special style
    .footer-default-info {
        letter-spacing: 1.2px;
        strong {
            color: $primary_color;
        }
    }
    .footer-fullwidth-info {
        color: rgba($white, .9);
        letter-spacing: 0.12em;
    }
    .footer-fullwidth-copyright {
        color: $text_color_secondary;
        letter-spacing: 0.12em;
        strong {
            color: $white;
        }
    }
}

// Instagram
.null-instagram-feed {
    &.slick {
        &:hover {
            .slick-arrow {
                &.slick-prev,
                &.slick-next {
                    opacity: 1;
                }
                &.slick-prev {
                    // left: 50px;
                    @include transition(all .3s);
                }
                &.slick-next {
                    // right: 50px;
                    @include transition(all .3s);
                }
            }
        }
        .widget-title {
            display: none;
        }
        li {
            padding: 0;
            &:hover {
                a {
                    &:before {
                        background-color: rgba($white, .0);
                        z-index: 0;
                        @include transition(all .3s);
                    }
                }
            }
            a {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: rgba($white, .3);
                    z-index: 2;
                    @include transition(all .3s);
                }
            }
        }
        // Arrow
        .slick-arrow {
            &.slick-prev, &.slick-next {
                background: none;
                border: none;
                color: transparent;
                cursor: pointer;
                display: block;
                font-size: 0;
                line-height: 0;
                outline: none;
                padding: 0;
                position: absolute;
                top: 50%;
                z-index: 99;
                opacity: 0;
                @include transition(all .3s);
                @include transform(translateY(-50%));
                &:before {
                    display: block;
                    color: $text_color_secondary;
                    font-family: 'slick';
                    font-size: 28px;
                    line-height: 1;
                    opacity: 1;
                    width: 50px;
                    height: 50px;
                    line-height: 48px;
                    border: 2px solid $text_color_secondary;
                    @include rounded(50%);
                    @include transition(all .3s);
                    @media screen and (max-width: $screen-xs-max) {
                        font-size: 18px;
                        width: 36px;
                        height: 36px;
                        line-height: 34px;
                    }
                }
                &:hover {
                    &:before {
                        background-color: $primary_color;
                        border: 2px solid $primary_color;
                        color: $white;
                        @include transition(all .3s);
                    }
                }
            }
            &.slick-prev {
                left: 30px;
                margin-right: 50px;
                &:before {
                    content: "\f27d";
                    font-family: Ionicons;
                }
            }
            &.slick-next {
                right: 30px;
                &:before {
                    content: "\f287";
                    font-family: Ionicons;
                }
            }
        }
    }
    // Grid
    li {
        float: left;
        padding: 3px;
        position: relative;
        &:hover {
            img {
                @include transform(scale(1.03));
                @include transition(all .3s);
            }
        }
        a {
            display: block;
            overflow: hidden;
        }
        img {
            @include transform(scale(1.0));
            @include transition(all .3s);
        }
        .instagram-info {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            @include transform(translate(-50%, -50%));
            span {
                padding: 0 5px;
            }
        }
    }
    &.columns-2 {
        li {
            width: 50%;
        }
    }
    &.columns-3 {
        .instagram-pics {
            padding-top: 20px;
        }
        li {
            width: 33.333333%;
        }
    }
    &.columns-5 {
        li {
            width: 20%;
            @media screen and (max-width: $screen-xs-max) {
                width: 33.333333%;
            }
        }
    }
    .clear {
        display: none;
    }
}
.instagram-pics {
    list-style: none;
    margin: 0 -3px 0 -3px;
    padding: 0;
}

// Subscribe
.subscribe-default {
    .subscribe-email {
        display: inline-block;
        width: calc(100% - 170px);
        background-color: $white;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        @media screen and (max-width: $screen-md-max) {
            width: calc(100% - 150px);
        }
        input[type="email"] {
            background: none;
            border: none;
            height: 48px;
            line-height: 48px;
            padding: 0 20px;
            width: 100%;
            @include placeholder($color: $text_color_secondary);
            @media screen and (max-width: $screen-md-max) {
                height: 43px;
                line-height: 43px;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .subscribe-submit {
        display: inline-block;
        float: right;
        width: 170px;
        @media screen and (max-width: $screen-md-max) {
            width: 150px;
        }
        input[type="submit"] {
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: $primary_color;
            color: $white;
            font-weight: $font-weight-bold;
            letter-spacing: .1em;
            height: 48px;
            text-align: center;
            width: 100%;
            @include transition(all .3s ease);
            @media screen and (max-width: $screen-md-max) {
                height: 43px;
            }
            &:hover {
                background: $secondary_color;
                @include transition(all .3s ease);
            }
            &:focus {
                outline: none;
            }
        }
    }
}
.mc4wp-response {
    // padding-top: 50px;
}