// Icon list
.icon-svg {
	background-color: $primary_color;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: block;
}

.icon-printer {
  -webkit-mask-image: url(../pangja/assets/images/icon-printer.svg);
  mask-image: url(../pangja/assets/images/icon-printer.svg);
}

.icon-tablet {
	-webkit-mask-image: url(../pangja/assets/images/icon-tablet.svg);
  mask-image: url(../pangja/assets/images/icon-tablet.svg);
}

.icon-photocopier {
	-webkit-mask-image: url(../pangja/assets/images/icon-photocopier.svg);
  mask-image: url(../pangja/assets/images/icon-photocopier.svg);
}

.icon-scanner {
	-webkit-mask-image: url(../pangja/assets/images/icon-scanner.svg);
  mask-image: url(../pangja/assets/images/icon-scanner.svg);
}
