// Pangja
.widget-social-profile {
	ul {
		list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            @media screen and (max-width: $screen-xs-max) {
                padding: 0 5px;
            }
            &:first-child {
            	a {
            		i {
            			padding-left: 0;
            		}
            	}
            }
            a {
                color: $text_color_secondary;
                display: inline-block;
                font-size: 0;
                text-align: center;
                @include transition(all .3s);
                &:hover {
                    color: $primary_color;
                    @include transition(all .3s);
                }
                i {
                    font-size: 16px;
                    padding: 10px 10px;
                }
            }
        }
	}
}
// My Account
.widget-my-account {
	a {
       	color: $text_color_secondary;
       	@include transition(all .3s);
       	&:hover {
            color: $primary_color;
            @include transition(all .3s);
        }
        &:first-child {
        	padding-right: 15px;
        	border-right: 1px solid $border_color;
        }
        &:last-child {
        	padding-left: 12px;
        }
   	}
}
// Text widget
.widget_text {
    
}